<div class="container-flex">
  <ul>
    <li> Réservation confirmée : </li>
    <li> <%= @booking.First.name %></li>
    <li> <%= @booking.Last_name %></li>
  </ul>

  <ul>
    <li> <%= woas.title %> <%= woas.description%></li>
    <li> <%= booking.book_start_at%> <%= booking.book_finish_at%>
    </li>
  </ul>

  <ul>
    <%= link_to woas_path(search: { category: category }) do %>
    <div class="woa-card">
      <img src="http://placehold.it/550x300" alt="">
    </div>
      <% end %>
  <% end %>
  </ul>
</div>
