<!-- TODO Banniere -->

<h1><%= @woa.title %></h1>
<hr>
<!-- TODO if exists at least 1 booking: ratings mean + ratings count -->
<!-- TODO avatar via owner_id -->
<hr>
<p>Catégorie: <%= @woa.category %></p>
<p>Prix: <%= @woa.price %></p>
<p>Caution: <%= @woa.deposit %></p>
<hr>
<h2>À propos de ce logement</h2>
<p><%= @woa.description %></p>
<p>Où le récupérer: <%= @woa.location %></p>
<!-- Lien type mailto: vers "Contacter l'Hôte" -->
<hr>
<h3>Détails de l'Oeuvre d'Art</h3>
<p>Dimensions:
<% case @woa.size %>
<% when "S" %>
  <%= "Petite taille" %>
<% when "M" %>
  <%= "Taille moyenne" %>
<% when "L" %>
  <%= "Grande taille" %>
<% end %>
</p>
<!-- détails (filtres des taille, wifi, etc.) -->
<p>À accrocher au mur: <%= @woa.hooked_on_wall ? "Oui" : "Non" %></p>
<p>Branchements électriques: <%= @woa.needs_power ? "Oui" : "Non" %></p>
<p>Wifi: <%= @woa.needs_wifi ? "Oui" : "Non" %></p>
<p>Hygrometrie stable: <%= @woa.needs_hygrometry ? "Oui" : "Non" %></p>
<p>Température stable: <%= @woa.needs_temperature ? "Oui" : "Non" %></p>
<p>Cage de verre: <%= @woa.needs_glass ? "Oui" : "Non" %></p>
<p>Socle: <%= @woa.needs_pedestal ? "Oui" : "Non" %></p>


